<form 
    class="add-form" 
    (ngSubmit)="onSubmit()"
    *ngIf="showAddExperience"
>
    
    <div class="form-control">
        <label for="text">Fecha </label>
        <input 
            type="text" 
            name="date" 
            id="date" 
            placeholder="2013-2017"
            [(ngModel)]="date" 
        >
    </div>

    <div class="form-control">
        <label for="text">Compañía</label>
        <input 
            type="text" 
            name="company" 
            id="company" 
            placeholder="Company"
            [(ngModel)]="company" 
        >
    </div>

    <div class="form-control">
        <label for="text">Posición</label>
        <input 
            type="text" 
            name="position" 
            id="position" 
            placeholder="Position"
            [(ngModel)]="position" 
        >
    </div>

    <div class="form-control">
        <label for="text">Descripción </label>
        <textarea 
            type="text" 
            required name="description" 
            id="description" 
            rows="6" 
            placeholder="Lorem ipsum dolor sit amet consectetur adipisicing..."
            [(ngModel)]="description" 
        ></textarea>
    </div>

    <button type="submit" value="Save Skill" class="experience-form-submit">Guardar Experiencia</button>
</form>
