<div class="horizontal-padding vertical-padding">
    <section class="contact" id="contacto">
        <h2 class="contact-title">Contacto</h2>
        <div class="contact-details">
            <div class="contact-details-group">
                <p class="contact-label">Dirección</p>
                <p class="contact-text">XXXX, XXXX</p>
            </div>
            <div class="contact-details-group">
                <p class="contact-label">Email</p>
                <p class="contact-text">aguolmedo3@gmail.com</p>
            </div>
            <div class="contact-details-group">
                <p class="contact-label">Teléfono</p>
                <p class="contact-text">123456789</p>
            </div>
            
        </div>
        <form class="contact-form">
            <div class="contact-form-group">
                <label for="name">Nombre</label>
                <input required type="text" name="name" id="name">
            </div>
            <div class="contact-form-group">
                <label for="email">Email</label>
                <input required type="email" name="email" id="email">
            </div>
            <div class="contact-form-group">
                <label for="message">Mensaje</label>
                <textarea required name="message" id="message" rows="6"></textarea>
            </div>
            <button type="submit" class="contact-form-submit">Enviar</button>
        </form>
        <nav class="social">
            <ul class="social-list">
                <li>
                    <a href="https://github.com/AgustinSW323">
                        <img src="./assets/Img/github.svg" alt="github profile">
                    </a>
                </li>
                <li>
                    <a class="tter" href="https://twitter.com/">
                        <img src="./assets/Img/twitter.svg" alt="twitter profile">
                    </a>
                </li>
                <li>
                    <a href="https://ar.linkedin.com/">
                        <img src="./assets/Img/linkedin.svg" alt="linkedin profile">
                    </a>
                </li>
            </ul>
        </nav>
    </section>
</div>
