<form 
    class="add-form" 
    (ngSubmit)="onSubmit()"
    *ngIf="showAddEducation"
>
    
    <div class="form-control">
        <label for="date">Fecha de Inicio </label>
        <input 
            type="date" 
            name="dateIni" 
            id="dateIni" 
            placeholder="2013-2017"
            [(ngModel)]="dateIni" 
        >
    </div>

    <div class="form-control">
        <label for="date">Fecha de Finalización </label>
        <input 
            type="date" 
            name="dateFin" 
            id="dateFin" 
            placeholder="2013-2017"
            [(ngModel)]="dateFin" 
        >
    </div>

    <div class="form-control">
        <label for="text">Lugar </label>
        <input 
            type="text" 
            name="place" 
            id="place" 
            placeholder="ISEP"
            [(ngModel)]="place" 
        >
    </div>

    <div class="form-control">
        <label for="text">Titulo </label>
        <input 
            type="text" 
            name="certification" 
            id="certification" 
            placeholder="Administración en Nuevas Tecnologías"
            [(ngModel)]="certification" 
        >
    </div>

    <div class="form-control">
        <label for="text">Descripción </label>
        <textarea 
            type="text" 
            required name="description" 
            id="description" 
            rows="6" 
            placeholder="Lorem ipsum dolor sit amet consectetur adipisicing..."
            [(ngModel)]="description" 
        ></textarea>
    </div>

    <button type="submit" value="Save Skill" class="education-form-submit">Guardar Educación</button>
</form>