<div class="horizontal-padding vertical-padding" id="quienSoy">
    <section class="profile">
        <div class="profile-info">
            <h1 class="profile-title">Hola, soy <br/> Agustín Olmedo</h1>
            <p class="profile-details">
                Soy un entusiasta y estudiante de programación
                con grandes expectativas de experimentar,
                aprender y trabajar en este hermoso mundo.
            </p>
            <button class="profile-btn">
                Descargar CV
            </button>
        </div>
        <span class="profile-img-section">
            <img class= "profile-img" src="./assets/Img/craiyon_042305_ShadowWatcher323_user_profile.jpg" alt="futuro programador">
            <div class="profile-img-line"></div>
        </span>
    </section>
</div>
