<section class="education" id="educación">
    <img src="./assets/Img/waveStart.svg" alt="división" class="waveStart">
    <div class="education-body">
        <h2 class="education-title">Educación</h2>
        <div class="education-grid">
            <div class="empty"></div>
            <div class="line"></div>
            <div class="studied">
                <div class="studied-date">2013-2017</div>
                <div class="studied-place">ISEP</div>
                <div class="studied-degree-title">Certificación</div>
                <div class="studied-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Facere corrupti beatae, deserunt, expedita ut molestiae
                    excepturi quae eos asperiores provident ducimus debitis
                    facilis commodi, sequi cumque? Quos repellendus, optio a
                    nulla, ab dicta nobis ducimus minus atque at porro
                    accusantium corrupti nihil, sint cumque minima labore.
                    Sit deleniti doloribus repellat nemo odio ex voluptatibus
                    deserunt facere! Itaque distinctio, debitis illo at sequi,
                    dolore consequatur quibusdam veniam accusamus temporibus
                    tenetur voluptates.</div>
            </div>
            <div class="studied studied_left">
                <div class="studied-date">2018-2021</div>
                <div class="studied-place">Fundación Universitas</div>
                <div class="studied-degree-title">Administración en Nuevas Tecnologías</div>
                <div class="studied-description">La Administración de nuevas tecnología está vinculada al
                    procesamiento de los datos con el objetivo de mejorar la
                    toma de decisiones y da lugar a organizaciones
                    exitosas. La realidad descripta precedentemente implica
                    la necesidad de contar con personas con capacidades
                    vinculadas a la operación del hardware y las aplicaciones
                    de software, así como conocimientos relacionados con
                    las aplicaciones de Google, la tecnología digital, los
                    sistemas multimediales, el desarrollo de sitios web y la
                    utilización de dispositivos audiovisuales.</div>
            </div>
            <div class="line"></div>
            <div class="empty"></div>
            <div class="empty"></div>
            <div class="line"></div>
            <div class="studied">
                <div class="studied-date">2022-2023</div>
                <div class="studied-place">Argentina Programa 4.0 - #SeProgramar & #YoProgramo</div>
                <div class="studied-degree-title">Certificación</div>
                <div class="studied-description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Facere corrupti beatae, deserunt, expedita ut molestiae
                    excepturi quae eos asperiores provident ducimus debitis
                    facilis commodi, sequi cumque? Quos repellendus, optio a
                    nulla, ab dicta nobis dducimus minus atque at porro
                    accusantium corrupti nihil, sint cumque minima labore.
                    Sit deleniti doloriaoikñkjfsñloiasdfhjnjhlkasdasbus repellat nemo odio ex voluptatibus
                    deserunt facere! Itaque distinctio, debitis illo at sequi,
                    dolore consequatur quibusdam veniam accusamus temporibus
                    tenetur voluptates.</div>
            </div>
        </div>
    </div>
    <img src="./assets/Img/waveEnd.svg" alt="división" class="waveStart waveEnd">
</section>
