<section class="education" id="educación">
    <img src="./assets/Img/waveStart.svg" alt="división" class="waveStart">
    <div class="education-body">
        <h2 class="education-title">Educación 
            <app-button 
                *ngIf="visible"
                text= "{{showAddEducation ? 'Cerrar' : 'Agregar'}}"
                (btnClick)="toggleAddEducation()"
            ></app-button></h2>
            <app-add-education
            
            (onAddEducation)="addEducation($event)"
            
            ></app-add-education>            
        
        <div class="education-grid">
            <app-education-item 
                [visibleIcon]="visible"
                *ngFor="let education of educations"
                [education] = "education"
                (onDeleteEducation) = "deleteEducation(education)"
            >
            </app-education-item>
        </div>
    </div>
    <img src="./assets/Img/waveEnd.svg" alt="división" class="waveStart waveEnd">
</section>
