<div class="horizontal-padding vertical-padding" id="habilidades">
    <section class="skills">
        <h2 class="skills-title">Habilidades
            <app-button 
                *ngIf="visible"
                class="buttonApp"
                text="{{showAddSkill ? 'Cerrar' : 'Agregar'}}"
                (btnClick)="toggleAddSkill()"
                
            ></app-button>
        </h2>
        <app-add-skill

            (onAddSkill)="addSkill($event)"
        
        ></app-add-skill>
        <app-skills-item
            [visibleIcon]="visible"
            *ngFor="let skill of skills"
            [skill] = "skill"
            (onDeleteSkill) = "deleteSkill(skill)"
        >
        </app-skills-item>
    </section>
</div>
